

:root{ --uc-toolbar-height: 32px; }
:root:not([uidensity="compact"]){ --uc-toolbar-height: 34px }

#TabsToolbar > *{ visibility: collapse !important }
#TabsToolbar > .titlebar-buttonbox-container{
  visibility: collapse !important;
}
#navigator-toolbox {visibility: collapse;}

#nav-bar, #urlbar-container, #searchbar { visibility: collapse !important; }

