* {
  bg: #1F1F28;
  fg: #dcd7ba;
  bg-light: #2A2A37;
  blue-dark: #223249;
  grey: #727169;
  yellow: #C8C093;
  violet: #938AA9;
  violet-dark: #363646;
  black: #1F1F28;
  red: #C34043;
  orange: #FFA066;
  orange-light: #DCA561;
  green: #98BB6C;
  blue: #7EB3C9;
  blue-light: #7FB4CA;
  magenta: #957FB8;
  cyan: #7EB3C9;
  white: #DDD8BB;
  red-light: #D27E99;
  green-light: #9EC967;
  yellow-light: #F1C982;
  magenta-light: #A98FD2;
  cyan-light: #7BC2DF;
  white-light: #A8A48D;
}
