@import url('../colors/colors.css');

* {
    border: none;
    font-family: MononokiNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: none;
    color: @fg;
}


#workspaces button {
    background-color: alpha(@bg, 0.9);
    color: @fg;
    margin-left: 5px;
    transition: all;
    transition-duration: 100ms;
    min-width: 20px;
}

#workspaces button.active {
    color: @bg;
    opacity: 1;
    background-color: alpha(@fg, 0.9);
    min-width: 15px;
}

#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#clock,
#custom-pacman-icon,
#custom-pacman {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 5px;
    padding-right: 10px;
    color: @fg;
    background-color: alpha(@bg, 0.9);
}

#clock,
#custom-cpu-icon,
#pulseaudio.icon,
#network.icon,
#custom-disk-icon,
#custom-memory-icon {
    color: @red;
    background-color: alpha(@bg, 0.9);
    margin-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    margin-left: 5px;
}
#custom-pacman-icon {
    margin-left: 5px;
    color: @green;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
}
#pulseaudio.icon {
    color: @aqua;
}
#network.icon {
    color: @cyan;
}
#custom-disk-icon {
    color: @orange;
}
#custom-memory-icon {
    color: @magenta;
}
#clock {
    color: @fg;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
